apiVersion: v1
kind: Service
metadata:
  name: service-b-service
  labels:
    app: service-b
spec:
  selector:
    app: service-b
  type: NodePort 
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30080