apiVersion: v1
kind: Service
metadata:
  name: service-a-service
spec:
  selector:
      app: service-a
  type: NodePort
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30080
